.article-content {
    margin-top: 1em;
    padding: 1em;
    padding-right: 2.5em;
    background-color: #fff;
}

.article-info {
    width: 100%;
    text-align: right;
}

.article-paragraph {
    padding-top: 1em;
    text-align: justify;
}

.arcticle-references {
    text-align: justify;
    padding-right: 1.25em;
}

.arcticle-references li {
    padding-top: 0.5em;
    list-style: none;
}

ul hr {
    margin-top: 0.25em;
}

.progress-bar {
    background: var(--grass-yellow);
}
